

%h1= @product.name
%p= @product.description
%p= number_to_currency @product.price, :unit => "Price: € "
%p= image_tag @product.image, height: "300"

t
%p
= link_to 'Edit', edit_product_path(@product)
\|
= link_to 'Back', products_path
